@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* CSS Variable */
:root{
--background1: #cccccc;
--background2: #9933ff;
--background3: #ff66cc;
--primary: #4d4d4d;
--background4: #006622;
}

body{
  background-color: var(--background1);
  font-size: 1.2rem;
  color: var(--primary);

}
.App{
  background-color: var(--background2);
  min-height: 35rem;
  width: 28rem;
  margin: 2.5rem auto;
}
.todo-form input{
  background-color: var(--background3);
  border: 0;
  width: 14rem;
  height: 3rem;
  padding: 0 1.5rem;
  margin: 1.2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: var(--primary);

}
.todo-form input::placeholder{
  color: var(--primary);
  font-family: 'Poppins', sans-serif;

}
.todo-form input:focus, .todo-form button:focus{
  outline: none;
}
.todo-form button{
  height: 3.5rem;
  width: 7rem;
  border-radius: 0.4rem;
  border-width: 0em;
  background-color: var(--background4);
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--primary);
}