body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  margin: 20px auto;
  width: 500px;
  max-width: 95%;
  background-color: #666666;
  color: aliceblue;
  border-radius: 10px;
}
.App h1{
  font-size: 2.5em;
  text-align: center;
}
.list{
  margin: 10px auto;
  width: 85%;

}
.list p{
  text-align: center;
}
.list input{
  width: 350px;
  max-width: 85%;
  height: 20px;
  color: #ffffff;
  background-color: #666666;
  border: transparent;
  font-size: 1em;
  margin-right: 20px;
}
.no-items{
  margin-left: 40px;
}
.todo-form{
  margin: 50px auto 0px;
  width: 85%;
}
.todo-form input{
  display: block;
  width: 350px;
  max-width: 85%;
  height: 20px;
  color: #000000;
  font-size: 1em;
  margin: 20px 0;
  border-radius: 2px;
  padding: 5px;
  border: transparent;
}
.todo-form button{
  width: 360px;
  max-width: 88%;
  margin-bottom: 30px;
  height: 30px;
  border-radius: 5px;
  border: transparent;
  font-size: 1em;
  font-weight: bold;
  background-color: goldenrod;
}