@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root{
    --primary :#ffffff;
    --background: #ff66cc;
}
.list{
    color: var(--primary);
    width: 25rem;
    background-color: var(--background);
    height: 2.2rem;
    margin: 1.2rem auto;
    border-radius: 0.4rem;
}
.list p{
    padding: 0.3rem 0.5rem;
    position: relative;

}
.list p span{
    position: absolute;
    right: 0.8rem;
    cursor: pointer;

}
.faIcons{
    margin: 0 0.3rem;
    font-size: 1rem;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: var(--primary);
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    width: 20rem;
}
.list p input:focus{
    outline: none;
}